body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #4b013edc;
}
h1 {
    color: #f9fbfc;
    text-align: center;
}
h2 {
    color: #eef2f3;
    margin-top: 20px;
}
h3 {
    color: #f9fbfc;
}
h4 {
    color: #f9fbfc;
    margin-top: 10px;
}
img {
    max-width: 25%;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}
li {
    color: rgb(100, 250, 242);
    margin-bottom: 10px;
    font-display: popular;
}
strong {
    color: #f1783f;
}